ftpUploader/ftpUpLoader/Web References/ArmServices/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="url:armservice" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="url:armservice" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="url:armservice">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Mywm">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ln" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MywmResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MywmResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateKKmHostName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="kkm_num" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="kkm_hostname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="kkm_suffix" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateKKmHostNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateKKmHostNameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendNotification">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_header" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_message" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="_type" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendNotificationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendNotificationResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendKKmZInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="terem_1c" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="kkm_name" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="date" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="worked" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="lasttime_online" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendKKmZInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendKKmZInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendKKmZInfoZ">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="terem_1c" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="kkm_name" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="date" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="zfile" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="zdate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendKKmZInfoZResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendKKmZInfoZResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConfirmZreportSended">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="terem_1c" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="kkm_name" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="date" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="zfile" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="sended" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConfirmZreportSendedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConfirmZreportSendedResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="MywmSoapIn">
    <wsdl:part name="parameters" element="tns:Mywm" />
  </wsdl:message>
  <wsdl:message name="MywmSoapOut">
    <wsdl:part name="parameters" element="tns:MywmResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateKKmHostNameSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateKKmHostName" />
  </wsdl:message>
  <wsdl:message name="UpdateKKmHostNameSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateKKmHostNameResponse" />
  </wsdl:message>
  <wsdl:message name="SendNotificationSoapIn">
    <wsdl:part name="parameters" element="tns:SendNotification" />
  </wsdl:message>
  <wsdl:message name="SendNotificationSoapOut">
    <wsdl:part name="parameters" element="tns:SendNotificationResponse" />
  </wsdl:message>
  <wsdl:message name="SendKKmZInfoSoapIn">
    <wsdl:part name="parameters" element="tns:SendKKmZInfo" />
  </wsdl:message>
  <wsdl:message name="SendKKmZInfoSoapOut">
    <wsdl:part name="parameters" element="tns:SendKKmZInfoResponse" />
  </wsdl:message>
  <wsdl:message name="SendKKmZInfoZSoapIn">
    <wsdl:part name="parameters" element="tns:SendKKmZInfoZ" />
  </wsdl:message>
  <wsdl:message name="SendKKmZInfoZSoapOut">
    <wsdl:part name="parameters" element="tns:SendKKmZInfoZResponse" />
  </wsdl:message>
  <wsdl:message name="ConfirmZreportSendedSoapIn">
    <wsdl:part name="parameters" element="tns:ConfirmZreportSended" />
  </wsdl:message>
  <wsdl:message name="ConfirmZreportSendedSoapOut">
    <wsdl:part name="parameters" element="tns:ConfirmZreportSendedResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Mywm">
      <wsdl:input message="tns:MywmSoapIn" />
      <wsdl:output message="tns:MywmSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateKKmHostName">
      <wsdl:input message="tns:UpdateKKmHostNameSoapIn" />
      <wsdl:output message="tns:UpdateKKmHostNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendNotification">
      <wsdl:input message="tns:SendNotificationSoapIn" />
      <wsdl:output message="tns:SendNotificationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendKKmZInfo">
      <wsdl:input message="tns:SendKKmZInfoSoapIn" />
      <wsdl:output message="tns:SendKKmZInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendKKmZInfoZ">
      <wsdl:input message="tns:SendKKmZInfoZSoapIn" />
      <wsdl:output message="tns:SendKKmZInfoZSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConfirmZreportSended">
      <wsdl:input message="tns:ConfirmZreportSendedSoapIn" />
      <wsdl:output message="tns:ConfirmZreportSendedSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="url:armservice/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Mywm">
      <soap:operation soapAction="url:armservice/Mywm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateKKmHostName">
      <soap:operation soapAction="url:armservice/UpdateKKmHostName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendNotification">
      <soap:operation soapAction="url:armservice/SendNotification" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendKKmZInfo">
      <soap:operation soapAction="url:armservice/SendKKmZInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendKKmZInfoZ">
      <soap:operation soapAction="url:armservice/SendKKmZInfoZ" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmZreportSended">
      <soap:operation soapAction="url:armservice/ConfirmZreportSended" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="url:armservice/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Mywm">
      <soap12:operation soapAction="url:armservice/Mywm" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateKKmHostName">
      <soap12:operation soapAction="url:armservice/UpdateKKmHostName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendNotification">
      <soap12:operation soapAction="url:armservice/SendNotification" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendKKmZInfo">
      <soap12:operation soapAction="url:armservice/SendKKmZInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendKKmZInfoZ">
      <soap12:operation soapAction="url:armservice/SendKKmZInfoZ" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmZreportSended">
      <soap12:operation soapAction="url:armservice/ConfirmZreportSended" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://localhost:60257/Service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://localhost:60257/Service1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>